@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Work Sans, sans-serif;
}

html{
    height: 100%;
}


/*body*/

body{
    background-color: transparent;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;

}

/*header (sidebar) */

header{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header .menu-btn{
    display: none;
}


.title{
     margin-bottom: 20px;
}

/* nav */
.nav {
    background-color:transparent;
}

.nav a{
    text-decoration: none;
    color: black;
}

.nav a:hover{
    color: blue;
}

.itens {
    display: flex;
    flex-direction: column;
    background-color:transparent;
    margin-bottom: 20px;
    list-style: none;
}

.itens a{
    text-decoration: none;
    color: black;
}

.itens a:hover{
    color: blue;
}

/*itens(footer)*/

.links{
    display: flex;
    flex-direction: column;
}

.links a{
    text-decoration: none;
    color: black;
}

.links a:hover{
    color: blue;
}


/*main*/

main {
    background-color: transparent;
    flex: 1;
    overflow: auto;
    padding: 10px;
}
main .wrapper h1{
    text-align: unset;
    margin-bottom: 20px;
    margin-top: 50px;
}


main .wrapper h3{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.wrapper p{
    font-size: 10pt;
}

main img{
    max-width: 100%;
}

main .wrapper{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

main .wrapper p{
    margin-top: 20px;
    margin-bottom: 20px;
}

main li{
    display: block;
    list-style: none;
}


main a{
    display: block;
    text-decoration: none;
    color: black;
    
}

main a:hover{
color: blue;
}

.gallery-9{
    display: grid;
    width: 700px;
    grid-template-columns: auto auto auto;
}

.gallery-9 img{
    padding: 2px;
}

.gallery-4{
    display: grid;
    width: 700px;
    grid-template-columns: auto auto;
}

.gallery-4 img{
    padding: 2px;
}

.gallery-2{
    display: grid;
    grid-template-columns: auto auto;
}

.picsobre{
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.block{
    display: flex;
    flex-direction: row;
}

.text{
    display: block;
    width: 300px;
    margin-right: 20px;
}


@media (max-width: 1304px) {

    main .wrapper{
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .gallery-9{
        display: grid;
        grid-template-columns: auto auto auto;
    }

}

@media (max-width: 768px) {
    
    html{
        height: unset;
    }
    
    body{
        background-color: transparent;
        height: 100%;
        overflow: unset;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        }


    header{
        background-color: white;
        display: block;
        height: unset;
        padding: 10px;
        position: sticky;
        top: 0;
    }
    
    header .menu{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: unset;
        transition:display .2s ease-out;
        text-align: center;
    }

    header .menu-icon{
        padding: 28px 20px;
        position: relative;
        float: right;
        cursor: pointer;

    }

    header .menu-icon .nav-icon{
        display: block;
        height: 2px;
        width: 18px;
        background: black;
        position: relative;
        transition:background .2s ease-out;
    }

    header .menu-icon .nav-icon:before{
        background: black;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all .2 ease-out;
        top: -5px;
    }

    header .menu-icon .nav-icon:active{
        background: black;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all .2 ease-out;
        top: 5px;
    }

    header .menu-btn{
        display: none;
    }
    
    header .menu-btn:checked ~ .menu{
        display: unset;
    }

    header .menu .itens{
        display: none;
    }

    header .menu .title{
        margin-top: 10px;
    }

    header .menu .title p{
        margin-top: 10px;
    }

    header .menu .links li a{
        display: block;
        padding: 10px;
    }

    header .menu .nav{
        margin: 90px 0 90px 0;
    }

    header .menu .nav a{
        display: block;
        padding: 10px;
    }

    main h1{
        text-align: center;
        margin-bottom: 20px;
        margin-top: unset;
    }

    .block{
        display: flex;
        flex-direction: column;
    }
    
    .text{
        display: block;
        width: unset;
        margin-right: unset;
    }

    .gallery-9{
        display: grid;
        width: unset;
        grid-template-columns: auto auto auto;
    }

    .gallery-4{
        display: grid;
        width: unset;
        grid-template-columns: auto auto;
    }
}