@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Work Sans, sans-serif;
}

html{
    height: 100%;
}

/*body*/

body{
    background-color: transparent;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

/*header (sidebar) */

header{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}

.logo{
    margin-right: 10px;
}

.title h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* nav */
.nav {
    background-color:transparent;
}

.itens {
    display: flex;
    flex-direction: column;
    background-color:transparent;
    margin-bottom: 20px;
}

.itens a{
    text-decoration: none;
    color: black;
}

.itens a:hover{
    color: blue;
}

/*itens(footer)*/

.links{
    display: flex;
    flex-direction: column;
}

.links a{
    text-decoration: none;
    color: black;
}

.links a:hover{
    color: blue;
}


/*main*/

main {
    background-color: transparent;
    flex: 1;
    overflow: auto;
    padding: 10px;
}
main h1{
    text-align: center;
    margin-bottom: 20px;
}

main img{
    max-width: 100%;
}



@media (max-width: 768px) {
    body {
        background-color: salmon;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    header{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: unset;
        padding: 10px;
    }



    .title{
        display: none;
        text-align: center;
    }

    .nav{
        display: none;
    }




    .itens {
        display: flex;
        flex-direction: column;
        background-color:transparent;
        margin-bottom: 20px;
        align-items: center;
    }

    .itens a{
        display: none;
        text-decoration: none;
        color: black;
        padding: 10px;
    
    }

    .links{
        display: none;
        flex-direction: column;
    }

    .links a{

        text-decoration: none;
        color: black;
        text-align: center;
        padding: 20px;
    }


  }

  


  
@media (max-width: 480px) {
    body {
      background-color: aqua;
      
    }
  }