@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Work Sans, sans-serif;
}

html{
    height: 100%;
}

h1, h2, h3, h4, h5, p, a{
    color: white;
    text-decoration: none;
    display: block;
}

a{
    cursor: pointer;
}

a:visited{
    color: white;
}

a:hover{
    color: blue;
}

a:active{
    color: #000080;
}





/*body*/

body{
    background-color:black;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}

.bg-color{
    background-color: #00ff00;
}


/*header (sidebar) */

header{
    width: 300px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    height: 100vh;
}

.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px;
    height: 70px;
}

#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 70px);
    padding: 0 10px 10px 10px;
    background-color: transparent;
}

.logos{
    display: flex;
    align-items: center;
}

.logo{
    display: block;
    margin-right: 20px;
}

.icon{
    display: none;
    font-size: 30pt;
    color: white;
}

.title{
     margin-bottom: 20px;
}

.title h1{
    font-weight: 300;
    -webkit-text-stroke: 2pt;
}

/* nav */
.nav {
    background-color:transparent;
}

.nav a{
    font-weight: 700;
    font-size: 14pt;
}

.nav li a{
    font-weight: 400;
    font-size: 12pt;
}

.itens {
    display: flex;
    flex-direction: column;
    background-color:transparent;
    margin-bottom: 20px;
    list-style: none;
}



/*itens(footer)*/

.links{
    display: flex;
    flex-direction: column;
}

.links li a{
    font-weight: 700;
    font-size: 14pt;
}



/*main*/

main {
    background-color: transparent;
    flex: 1;
    margin-left: 300px;
    margin-top: 70px;
    padding: 10px;
    height: calc(100% - 110px);
}

.home {
    background-color: transparent;
    flex: 1;
    margin-left: 300px;
    margin-top: auto;
    padding: 10px;
    height: calc(100% - 110px);
    display: flex;
    justify-content: center;

}


.wrapper h1{
    text-align: unset;
    margin-bottom: 20px;
}

main .wrapper{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


main li{
    display: block;
    list-style: none;
}

.wrapper li a{
    font-weight: 700;
    font-size: 14pt;
    padding: 10px 0;    
}

.block{
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
}

.text{
    display: block;
    width: 20%;
    margin-right: 20px;
}

.text p{
    font-size: 10pt;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text a{
    font-weight: 700;
    font-size: 14pt;
    padding: 10px 0;
}

main img{
    max-width: 100%;
}


.gallery-9{
    display: grid;
    width: 80%;
    grid-template-columns: auto auto auto;
    flex: 1;
}

.gallery-9 img{
    padding: 7px;
}

.gallery-4{
    display: grid;
    width: 80%;
    grid-template-columns: auto auto;
    flex: 1;
}

.gallery-4 img{
    padding: 2px;
}

.gallery-2{
    display: grid;
    grid-template-columns: auto auto;
}

.gallery-item{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    flex: 1;
}

.picsobre{
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.item{
    padding: 10px;
}

/* Form */

form{
    display: flex;
    flex-direction: column;
}
form p{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 13pt;
}

input{
    display: block;
    background-color: transparent;
    outline: white solid 2px;
    outline-offset: -2px;
    color: white;
    border-width: 3px;
    width: auto;
    height: 40px;
    text-indent: 10px;
    border-color: unset;
    border-style: unset;
    margin-bottom: 20px;
    font-size: 12pt;
}

.submit{
    background-color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 13pt;
    color: black;
}


.submit:hover{
    background-color: blue;
    color: white;
    outline: unset;
}
textarea{
    display: block;
    width: auto;
    color: white;
    background-color: transparent;
    outline: white solid 2px;
    outline-offset: -2px;
    text-indent: 5px;
    font-size: 12pt;
    padding: 5px;
    margin-bottom: 20px;
}

/* Footer */

footer{
    background-color: transparent;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 0;
}

footer p{
    font-size: 10pt;
}




@media (max-width: 1024px) {

    main .wrapper{
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .block{
        display: flex;
        flex-direction: column;
    }

    .gallery-9{
        display: grid;
        grid-template-columns: auto auto auto;
        width: auto;
    }
    .gallery-item{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .text{
        width: auto;
        margin-right: auto;
    }

}

@media (max-width: 768px) {
    
    header{
        width: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        position: fixed;
        height: auto;
        background-color: rgba(0, 0, 0, 0.9);
    }
    
    .bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
        padding: 10px;
        height: 70px;
    }
    
    #menu{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 70px);
        padding: 10px;
        text-align: center;
        background-color: transparent;
    }
    
    .icon{
        display: block;
        font-size: 30pt;
        color: white;
    }
    
    .title{
         margin-bottom: 20px;
    }


    
    /* nav */
    .nav {
        background-color:transparent;
    }
    
    .nav a{
        display: block;
        padding: 15px;

    }
    
    
    .itens {
        display: none;
        flex-direction: column;
        background-color:transparent;
        margin-bottom: 20px;
        list-style: none;
    }
    
    .itens a{
        text-decoration: none;
    }
    
    /*itens*/
    
    .links{
        display: flex;
        flex-direction: column;
        margin-bottom: 55px;
    }
    
    .links a{
        display: block;
        padding: 10px;
    }
    

    main {
        background-color: transparent;
        flex: 1;
        margin-left: unset;
        padding: 10px;
    }

    .home {
        background-color: transparent;
        flex: 1;
        margin-left: unset;
        padding: 10px;
        margin-top: 70px;
    }

    main h1{
        text-align: center;
        margin-bottom: 20px;
        margin-top: unset;
    }

    .block{
        display: flex;
        flex-direction: column;
    }
    
    .text{
        display: block;
        width: unset;
        margin-right: unset;
    }

    .gallery-9{
        display: grid;
        width: unset;
        grid-template-columns: auto auto auto;
    }

    .gallery-4{
        display: grid;
        width: unset;
        grid-template-columns: auto auto;
    }



    footer{
        background-color: transparent;
        flex: auto;
        margin-left: unset;
        padding: 10px;
        text-align: center;
        z-index: unset;
    }
}